{
    "battery_file": "Battery.txt",
    "config_dir": "ConfigFile",
    "config_hub_file": "Hub.json",
    "display_file": "Display.txt",
    "image_dir": "images",
    "log_dir": "Log",
    "log_level": "INFO",
    "max_time": "300",
    "s3_bucket": "s3://scanorhize-images-prod",
    "scanorhize_server": "backend-prod.humeos.com",
    "uhubctl": "/usr/sbin/uhubctl",
    "usb_dir": "/media/pi/Image"
}
