<!DOCTYPE html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>ScanTerrae</title>
      {%block title%}{%endblock%}
   </head>
   <body>         
<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"> 
                                         
                        <a class="nav-link" href="/"> <img src="{{url_for('static',filename='ScanTerrae_logo_small.png')}}" height="60" align="left"/> <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/Scanner1"><button type="button" class="btn btn-secondary btn-lg">Scanner 1</button></a>
                        <a class="nav-link" href="/Scanner2"><button type="button" class="btn btn-secondary btn-lg">Scanner 2</button></a> 
                        <a class="nav-link" href="/Scanner3"><button type="button" class="btn btn-secondary btn-lg">Scanner 3</button></a> 
                        <a class="nav-link" href="/Server"><button type="button" class="btn btn-secondary btn-lg">Server</button></a> 
                        
                                              
            </div>
      </div>     
      <p>{{SSID}} <p><p>  </p><p>{{IP}} </p>                   
      <img src="{{url_for('static',filename='Mycea_logo.png')}}" height="60"/> 
      <img src="{{url_for('static',filename='axlr-satt_logo.png')}}" height="60" align="right"/>
      <img src="{{url_for('static',filename='ARDITECH_logo_Small.png')}}" height="30", align="right">
</nav>

{%block content%}{%endblock%}   
  
        


                  
          
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
   </body>   
</html>
