{% extends "base.html" %}
{%block title%}
<!meta http-equiv="refresh" content={{vitesse}} />
{%endblock%}
{%block content%}

<style>
.small-text {
    font-size: 0.8em;
}
.input-group-text span {
    font-size: 0.8em;
}
</style>

<form action = "#" method = "post">
<div class="row">
       <div class="col-sm">
              <div class="input-group mb-3">
                     <div class="input-group-prepend">
                     <span class="input-group-text">Scanner</span>
                     </div>
                     <input type="text" class="form-control" name="Scanner" value={{scannerName}} placeholder={{scannerName}} readonly>
              </div>
       <div class="input-group mb-3">
              <div class="input-group-prepend">              
              <label class="input-group-text" for="inputGroupSelect01">Mode</label>
              </div>              
              <select class="custom-select" name="mode">
                     <option selected>{{mode}}</option>
                     <option value="1">{{mode1}}</option>
                     <option value="2">{{mode2}}</option>
                     <option value="3">{{mode3}}</option>
              </select>		
       </div>
       <div class="input-group mb-3">
              <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Resolution</label>
              </div>
              <select class="custom-select" name="resolution">
                     <option selected>{{resolution}}</option>
                     <option value="1">{{resolution1}}</option>
                     <option value="2">{{resolution2}}</option>
                     <option value="3">{{resolution3}}</option>
              </select>
       </div>  
       <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text">l<span>(0..216.7mm)</span></span>
              </div>
              <input type="text" class="form-control" name="l" placeholder={{l}}>
       </div>
       <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text">t<span>(0..297.5mm)</span></span>
              </div>
              <input type="text" class="form-control" name="t" placeholder={{t}}>
       </div>
       <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text">x<span>(0..216.7mm)</span></span>
              </div>
              <input type="text" class="form-control" name="x" placeholder={{x}}>
       </div>
              <div class="input-group mb-3">
                     <div class="input-group-prepend">
                     <span class="input-group-text">y<span>(0..297.5mm)</span></span>
                     </div>
                     <input type="text" class="form-control" name="y" placeholder={{y}}>
              </div>
       
              <div class="input-group mb-3">
                     <div class="input-group-prepend">
                     <span class="input-group-text">Compression<span>(0..100 no-loss)</span></span>
                     </div>
                     <input type="text" class="form-control" name="quality" value={{quality}} placeholder={{quality}}>
              </div>
       </div>
       <div class="col-sm">
       <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text" data-toggle="tooltip" title="Download configuration from the platform after each scan">UseServer (0/1)</span>
              </div>
              <input type="text" class="form-control" name="UseServer" placeholder={{UseServer}}>
       </div>
       <div class="input-group mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text">StartDate<span>(YYYY-MM-DDTHH:mm:ssZ)</span></span>
			</div>
			<input type="text" class="form-control" name="StartDate" value={{StartDate}} placeholder={{StartDate}}>
       </div>
       <div class="input-group mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text" data-toggle="tooltip" title="Period between each scan. Can be in seconds or days. For example : 3600s or 0.5d">Period</span>
			</div>
			<input type="text" class="form-control" name="PeriodeS" value={{PeriodeS}} placeholder={{PeriodeS}}>
       </div>
       <div class="input-group mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text">TimeBeforeScan<span>(s)</span></span>
			</div>
			<input type="text" class="form-control" name="TimeBeforeScan" value={{TimeBeforeScan}} placeholder={{TimeBeforeScan}}>
       </div>
       <div class="input-group mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text">TimeAfterScan<span>(s)</span></span>
			</div>
			<input type="text" class="form-control" name="TimeAfterScan" value={{TimeAfterScan}} placeholder={{TimeAfterScan}}>
       </div>
       <div class="input-group mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text" data-toggle="tooltip" title="If disabled, this scanner will not be used">Enable</span>
			</div>
			<div class="form-control d-flex align-items-center">
				<input type="checkbox" name="enable" value="1" {% if enable == 1 %}checked{% endif %}>
			</div>
       </div>
       </div>
</form> 
<div class="col-sm">
       <button type="submit" class="btn btn-primary">Save conf locally</button> 
       <a href="/Scanner/SendConfig/{{scan_num_str}}" class="btn btn-primary">Send conf to server</a>
       <a href="/Scanner/GetConfig/{{scan_num_str}}" class="btn btn-primary">Get conf from server</a>
       <a href="/Scanner/acqimg/{{scan_num_str}}" class="btn btn-primary">Image scan</a>
 
       <p>Last image time : {{LastImgTime}}</p> 
       <p>Token : {{token[:24]}}</p>
       <p>Device : {{device}}</p>
       <img src = " {{url_for('static', filename=imagename)}}"width="80%", alt="Take a scan"/>      
       </div>       

     
                

  

{% endblock %}
      
   
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
