{% extends "base.html" %}
{%block title%}
{%endblock%}
{%block content%}
<div class="container">
  <!-- Content here -->  
	<H1>Scanorhize</H1>	
	<div class="row">
		<div class="col-md-4">
			<img src = " {{url_for('static', filename=imagename1)}}"width="100%", alt="Take a scan"/>
		</div>
		<div class="col-md-4">
			<img src = " {{url_for('static', filename=imagename2)}}"width="100%", alt="Take a scan"/>
		</div>
		<div class="col-md-4">
			<img src = " {{url_for('static', filename=imagename3)}}"width="100%", alt="Take a scan"/>
		</div>
	</div>
	
	<pre id="display" class="bg-light p-3" style="max-height: 300px; overflow-y: auto; white-space: pre-wrap;"></pre>
	<script>
	var display = document.getElementById('display');
	var xhr = new XMLHttpRequest();
	xhr.open('GET', "{{url_for('stream')}}", true);
	xhr.send();

	setInterval(function() {
		display.textContent = xhr.responseText;
	}, 2000);
	</script>
</div>        
{%endblock%}

